html, body { 
height: 100%; 
margin: 0; 
padding: 0; 
}

*{
	margin: 0px;
	padding: 0px;
}
#map{
	width:50%;
	height:400px;
}

#chart{
}

#side-menu{
	margin-top: 10px;
	display: block;
	float: right;
	height: 90%;
}

#weather{
       font-size:30px;
       color:red;


}	
